@charset "UTF-8";
/*--PROPIEDADES GENERALES A TODO EL DOCUMENTO TIPOGRAFIA, MARGENES, BOOTSTRAP, CLASES QUE REUTILICES, TODO LO QUE NO SEA NECESARIO ANIDAR--*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu:opsz,wght@12..72,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fondo main*/
.background-main {
  background-image: url(../img/layered-peaks-haikei.svg);
  background-size: cover; }

/*variables*/
/*listas*/
/*mapas*/
.bienvenidos, main .productos div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*mixin*/
/**--------NAV BOOTS*/
.barra-nav a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1.4rem;
  font-family: truculenta !important;
  text-shadow: 8px 4px 8px black;
  margin: 0 20px; }

/*-FONDO NEGRO NAV-*/
.barra-nav {
  background-color: rgba(0, 0, 0, 0.592) !important; }

.sin-sombra {
  background-color: rgba(0, 0, 0, 0.778) !important; }
  .sin-sombra a {
    text-shadow: none; }

.dropdown-menu li a {
  color: white !important; }

.categorias-contenedor {
  border: 1px black solid;
  width: 320px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.categorias-imagenes {
  background-position: center;
  transition-duration: 1s; }
  .categorias-imagenes:hover {
    scale: 1.1; }

.categorias p {
  height: 90px;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: poppins;
  font-size: 13px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.categorias a {
  height: 350px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 15px;
  text-shadow: 4px 4px 8px black;
  text-align: center; }

.imagenes-redes {
  width: 50px;
  height: 50px;
  margin-left: 20px; }

.productos-nav-bar {
  background-image: url(../img/fondo.jpg); }

.boton-comprar {
  background-color: #0e500e;
  border: 2px solid black;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 40px 5px 40px;
  margin-bottom: 20px;
  transition: 2s; }

/*-Imagenes flotantes-*/
.fixed a {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: 1s;
  animation-name: pulse; }
  .fixed a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(17, 255, 17, 0.566);
    border-radius: 50%;
    animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: both; }
  .fixed a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(2, 201, 2, 0.496);
    border-radius: 50%;
    z-index: -1;
    opacity: .8;
    animation-name: pulse;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: both; }

@keyframes pulse {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 0;
    scale: 2; } }

.site-footer {
  background-image: url(../img/fondo.jpg);
  font-size: 16px;
  padding-top: 16px;
  line-height: 24px;
  color: white;
  font-family: "truculenta"; }
  .site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5; }
  .site-footer h6 {
    text-align: center;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px; }
  .site-footer ul {
    text-align: center; }
  .site-footer a {
    color: white;
    font-family: "truculenta"; }
  .site-footer .footer-links {
    padding-left: 0;
    list-style: none;
    flex-wrap: 1; }
    .site-footer .footer-links li {
      display: block; }
    .site-footer .footer-links a {
      color: white;
      text-decoration: none;
      transition: 1s; }
      .site-footer .footer-links a:hover {
        color: #177f17; }
  .site-footer .social-icons {
    text-align: right; }
    .site-footer .social-icons li {
      display: inline-block;
      margin-bottom: 4px; }
    .site-footer .social-icons a {
      background-color: #eceeef;
      color: #818a91;
      font-size: 18px;
      display: inline-block;
      line-height: 44px;
      width: 44px;
      text-align: center;
      margin-right: 8px;
      border-radius: 100%;
      transition: all 0.5s linear; }
      .site-footer .social-icons a:hover {
        color: white; }
    .site-footer .social-icons.size-sm a {
      line-height: 34px;
      height: 34px;
      width: 34px;
      font-size: 14px; }
    .site-footer .social-icons a.facebook:hover {
      background-color: #3b5998; }
    .site-footer .social-icons a.whatsapp:hover {
      background-color: green; }
    .site-footer .social-icons a.google:hover {
      background-color: red; }
    .site-footer .social-icons a.instagram:hover {
      background-color: #ea4c89; }

.header-index {
  background: linear-gradient(to bottom, rgba(233, 231, 231, 0), rgba(138, 134, 134, 0.863)), url(../img/fondo-prueba-126.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .header-index .hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 150px; }
    .header-index .hero .hero-titulo-boton {
      width: 80%;
      flex-direction: column; }
      .header-index .hero .hero-titulo-boton h3 {
        font-size: 30px;
        color: white;
        font-family: "truculenta";
        font-weight: bold;
        text-shadow: 4px 4px 8px black;
        margin-bottom: 30px; }
      .header-index .hero .hero-titulo-boton a {
        background-color: #ffffffce;
        color: #036003;
        text-shadow: 1px 1px 2px black;
        text-align: center;
        text-decoration: none;
        font-size: 60px;
        border-radius: 10px;
        padding: 5px 40px 5px 40px;
        height: 100px;
        font-family: "truculenta";
        font-style: inherit;
        font-weight: bold;
        transition: 1s; }
        .header-index .hero .hero-titulo-boton a:hover {
          box-shadow: 0 0 30px white; }
    .header-index .hero .hero-imagenes img {
      width: 150px;
      height: 150px;
      transition: 1s; }
      .header-index .hero .hero-imagenes img:hover {
        scale: 1.1; }

main .nosotros h1 {
  font-size: 80px;
  color: rgba(0, 0, 0, 0.812);
  font-family: "truculenta";
  text-shadow: 8px 8px 10px rgba(0, 0, 0, 0.453);
  padding: 20px 80px;
  text-align: center;
  height: auto; }

main .nosotros p {
  font-size: 30px;
  color: white;
  background-color: #084408;
  padding: 50px 200px;
  text-align: center;
  font-family: "truculenta";
  text-shadow: 8px 8px 16px black; }

main .categorias {
  margin-top: 30px; }
  main .categorias div {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    row-gap: 50px;
    grid-auto-rows: auto;
    align-content: center;
    /* Espacio entre las celdas */ }
    main .categorias div .imagen-primer-contenedor {
      background-image: url(../img/productos/branca1.jpg); }
    main .categorias div .imagen-segundo-contenedor {
      background-image: url(../img/productos/tanqueray1.jpg); }
    main .categorias div .imagen-tercer-contenedor {
      background-image: url(../img/productos/jagermaister1.jpg); }
    main .categorias div .imagen-cuarto-contenedor {
      background-image: url(../img/productos/bluelabel1.jpg); }

.bienvenidos {
  margin-top: 20px;
  padding: 20px; }
  .bienvenidos div {
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bienvenidos div p {
      font-family: "truculenta";
      font-size: 22px;
      color: white;
      font-weight: 500;
      padding: 50px;
      background-color: rgba(0, 0, 0, 0.871);
      border-radius: 15px 0px 0px 15px; }
      .bienvenidos div p span {
        color: #2dac2d;
        font-size: 24px; }
    .bienvenidos div img {
      border-radius: 15px 15px 15px 15px;
      width: 500px;
      height: 400px; }
  .bienvenidos .bienvenidos-segundo-contenedor {
    display: flex;
    flex-direction: row-reverse; }
    .bienvenidos .bienvenidos-segundo-contenedor p {
      font-family: "truculenta";
      font-size: 22px;
      color: white;
      font-weight: 500;
      padding: 50px;
      background-color: rgba(0, 0, 0, 0.832);
      border-radius: 0px 15px 15px 0px; }
      .bienvenidos .bienvenidos-segundo-contenedor p span {
        color: #2dac2d;
        font-size: 24px; }
    .bienvenidos .bienvenidos-segundo-contenedor img {
      border-radius: 15px 15px 15px 15px;
      width: 500px;
      height: 400px; }

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .hashtag img {
    width: 500px;
    height: 200px; }

.fotos-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .fotos-grid .galeria-grid {
    max-width: 70%;
    /*define el tamaño de la grilla*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 5px;
    /* Espacio entre las celdas */
    margin: 50px; }
    .fotos-grid .galeria-grid div img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 1s; }
  .fotos-grid .galeria-grid .img-a {
    grid-column: 1/3; }
  .fotos-grid .galeria-grid .img-b {
    grid-column: 3/5; }
  .fotos-grid .galeria-grid .img-d {
    grid-column: 2/4;
    grid-row: 2/4; }
  .fotos-grid .galeria-grid .img-f {
    grid-row: 3/5; }
  .fotos-grid .galeria-grid .img-g {
    grid-row: 3/5; }

.fotos-grid > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: transform 1s;
  opacity: 1; }

.galeria-grid:hover img:not(:hover) {
  transform: scale(0.95);
  opacity: 0.3; }

.fixed img {
  width: 60px;
  height: 60px;
  position: fixed;
  /*Fija la posicion en la pagina*/
  bottom: 30px;
  right: 30px; }

main .productos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
  margin: auto;
  padding-bottom: 30px; }
  main .productos .primer-banner {
    grid-column: 1/6; }
  main .productos .segundo-banner {
    grid-column: 1/6; }
  main .productos .tercer-banner {
    grid-column: 1/6; }
  main .productos .cuarto-banner {
    grid-column: 1/6; }
  main .productos h2 {
    color: white;
    font-family: "truculenta";
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 4px black; }
  main .productos .productos-contenedor {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    transition: 1s; }
    main .productos .productos-contenedor:hover {
      scale: 1.1;
      opacity: 100%; }
    main .productos .productos-contenedor:hover a {
      animation-name: btn-comprar;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-direction: alternate;
      animation-iteration-count: infinite; }

@keyframes btn-comprar {
  to {
    scale: 1.1;
    box-shadow: 0 0 20px black; } }
  main .productos div img {
    padding-top: 10px;
    width: 150px;
    height: 150px; }
  main .productos div h3 {
    color: black;
    font-family: poppins;
    font-weight: 600;
    text-align: center;
    font-size: 18px; }
  main .productos div h4 {
    height: 30px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px; }
  main .productos div p {
    text-align: center;
    font-size: 19px;
    font-weight: 600; }
  main .productos div .tarj-cant {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    main .productos div .tarj-cant label {
      font-family: truculenta;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px; }
    main .productos div .tarj-cant input {
      width: 50px;
      margin-left: 20px;
      border-radius: 10px;
      border: 1px solid gray;
      text-align: center;
      margin-bottom: 20px; }

.fixed2 img {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 110px;
  right: 30px;
  border-radius: 100%; }

.titulo-promos h4 {
  color: white;
  text-shadow: 8px 4px 8px black;
  font-family: "truculenta";
  font-size: 60px !important; }

.carousel-item img {
  max-height: 480px;
  /* Ajusta el valor según la altura deseada */ }

.pagina-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  text-shadow: 2px 2px 4px black; }
  .pagina-contacto .contacto-form {
    width: 40%;
    margin-bottom: 15px; }
    .pagina-contacto .contacto-form .contacto h3 {
      margin: 15px 0px 15px 10px;
      font-size: 35px;
      text-align: center;
      font-family: "truculenta";
      font-weight: 400;
      color: white; }
    .pagina-contacto .contacto-form .contacto div label {
      margin: 15px 0px 15px 10px;
      font-size: 1rem;
      font-family: poppins;
      font-weight: 400;
      color: white; }
    .pagina-contacto .contacto-form .contacto div input {
      width: 90%;
      padding-left: 10px;
      height: 30px;
      margin: 5px 0px 5px 5px;
      font-size: 15px; }
    .pagina-contacto .contacto-form .contacto div textarea {
      width: 90%;
      padding-left: 10px;
      margin: 5px 0px 5px 5px;
      font-size: 15px; }
  .pagina-contacto .formulario-genero {
    font-size: 1rem;
    font-family: poppins;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap; }
    .pagina-contacto .formulario-genero div {
      margin: 10px;
      margin-left: 16px; }

.formulario-ciudad {
  font-size: 1rem;
  font-family: poppins;
  font-weight: 400;
  color: #fafafa; }

.botones-consulta input {
  text-decoration: none;
  width: 138px;
  height: 40px;
  color: white;
  background-color: #0e500e;
  font-size: 19px;
  margin: 10px;
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  padding: auto; }

.formulario-mapa div h3 {
  margin: 15px 0px 15px 10px;
  font-size: 35px;
  text-align: center;
  font-family: "truculenta";
  font-weight: 400;
  color: white; }

.formulario-mapa div {
  margin: 0px 15px 30px 15px; }
  .formulario-mapa div iframe {
    width: 500px;
    height: 500px; }

body {
  font-family: "truculenta"; }

.seccion-acordeon {
  padding: 20px; }

.accordion {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 50px; }
  .accordion h1 {
    font-size: 32px;
    text-align: center;
    color: white;
    text-shadow: 8px 4px 8px black; }
  .accordion .accordion-item {
    margin-top: 20px;
    border: 2px solid #0e500e;
    border-radius: 6px;
    background: #d0d0d0;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; }
    .accordion .accordion-item .accordion-item-title {
      position: relative;
      margin: 0;
      display: flex;
      width: 100%;
      font-size: 20px;
      cursor: pointer;
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 14px 20px;
      box-sizing: border-box;
      align-items: center; }
      .accordion .accordion-item .accordion-item-title .icon {
        margin-left: 14px; }
    .accordion .accordion-item .accordion-item-desc {
      display: none;
      font-size: 17px;
      line-height: 22px;
      font-weight: 600;
      color: #000000;
      background-color: white;
      border-top: 1px dashed #ddd;
      padding: 10px 20px 20px;
      box-sizing: border-box; }
    .accordion .accordion-item input[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0; }
    .accordion .accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
      display: block; }
    .accordion .accordion-item input[type="checkbox"]:checked ~ .accordion-item-title .icon:after {
      content: "-";
      font-size: 35px; }
    .accordion .accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
      content: "+";
      font-size: 35px; }
  .accordion .accordion-item:first-child {
    margin-top: 0; }

.testimonials {
  padding: 40px 0;
  text-align: center; }
  .testimonials .testimonial-inner {
    overflow: hidden;
    padding: 0 20px; }
    .testimonials .testimonial-inner h2 {
      color: white;
      text-shadow: 2px 2px 4px black; }
    .testimonials .testimonial-inner spam {
      color: white;
      text-shadow: 2px 2px 4px black; }
    .testimonials .testimonial-inner .border {
      width: 500px;
      height: 5px;
      background: #0e500e;
      margin: 26px auto; }
    .testimonials .testimonial-inner .testimonios {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center; }
      .testimonials .testimonial-inner .testimonios .testimonios-col {
        box-sizing: border-box;
        padding-bottom: 15px; }
        .testimonials .testimonial-inner .testimonios .testimonios-col .testimonial {
          width: 300px;
          height: 450px;
          backdrop-filter: blur(0px) saturate(57%);
          background-color: rgba(39, 40, 34, 0.24);
          border-radius: 12px;
          border: 1px solid rgba(255, 255, 255, 0.125);
          padding: 30px;
          border-radius: 20px; }
          .testimonials .testimonial-inner .testimonios .testimonios-col .testimonial p {
            color: #000000;
            font-weight: 500; }
          .testimonials .testimonial-inner .testimonios .testimonios-col .testimonial img {
            width: 100px;
            height: 100px;
            border-radius: 50%; }
          .testimonials .testimonial-inner .testimonios .testimonios-col .testimonial .name {
            font-size: 20px;
            text-transform: uppercase;
            margin: 20px 0; }
          .testimonials .testimonial-inner .testimonios .testimonios-col .testimonial .stars {
            color: #f0932b;
            margin-bottom: 20px; }

@media screen and (max-width: 1350px) {
  .header-index .hero {
    padding-top: 100px;
    justify-content: space-around; }
    .header-index .hero .hero-titulo-boton {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 10px; }
    .header-index .hero .hero-imagenes {
      width: 90%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      justify-items: center;
      gap: 80px;
      row-gap: 5px; }
      .header-index .hero .hero-imagenes a {
        width: 120px;
        height: 120px; }
      .header-index .hero .hero-imagenes img {
        width: 120px;
        height: 120px;
        margin-bottom: 0px; }
  main .nosotros h1 {
    font-size: 50px;
    margin: 0px 70px;
    text-align: center; }
  main .nosotros p {
    font-size: 20px;
    padding: 30px 100px;
    margin: 0px 0px; }
  main .categorias .categorias-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px; }
  .bienvenidos div p {
    font-size: 16px;
    padding: 30px; }
  .bienvenidos div img {
    width: 400px;
    height: 300px; }
  .bienvenidos .bienvenidos-segundo-contenedor {
    flex-direction: row-reverse; }
    .bienvenidos .bienvenidos-segundo-contenedor p {
      font-size: 16px;
      padding: 20px; }
    .bienvenidos .bienvenidos-segundo-contenedor img {
      width: 400px;
      height: 300px; }
  footer section {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
    footer section .footer-h6 {
      margin: auto; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/5; }
    main .productos .segundo-banner {
      grid-column: 1/5; }
    main .productos .tercer-banner {
      grid-column: 1/5; }
    main .productos .cuarto-banner {
      grid-column: 1/5; }
  /*------------------------------------------------PAGINA FORMULARIO*/
  .pagina-contacto .contacto-form {
    width: 80%;
    margin-bottom: 15px; } }

@media screen and (max-width: 950px) {
  .productos-contenedor h3 {
    height: 45px; }
  .productos-contenedor h4 {
    padding: 0px 15px; } }

@media screen and (max-width: 790px) {
  .header-index .hero {
    padding-top: 90px; }
    .header-index .hero .hero-imagenes {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      justify-items: center;
      gap: 30px;
      row-gap: 5px; }
      .header-index .hero .hero-imagenes a {
        width: 100px;
        height: 100px; }
      .header-index .hero .hero-imagenes img {
        width: 100px;
        height: 100px; }
    .header-index .hero .hero-titulo-boton a {
      font-size: 60px;
      /* Tamaño de la fuente */
      border-radius: 10px;
      /* Bordes redondeados */
      padding: 10px 50px 10px 50px;
      height: 100px;
      font-family: truculenta;
      font-style: inherit;
      font-weight: bold; }
  .bienvenidos {
    padding: 15px; }
    .bienvenidos div {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center; }
      .bienvenidos div img {
        border-radius: 15px 15px 0px 0px; }
      .bienvenidos div p {
        border-radius: 15px 15px 15px 15px; }
    .bienvenidos .bienvenidos-segundo-contenedor {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center; }
      .bienvenidos .bienvenidos-segundo-contenedor img {
        border-radius: 15px 15px 0px 0px; }
      .bienvenidos .bienvenidos-segundo-contenedor p {
        border-radius: 15px 15px 15px 15px; }
  .hashtag {
    display: flex;
    justify-content: center;
    align-items: center; }
    .hashtag img {
      width: 300px;
      height: 150px; }
  .fotos-grid {
    align-items: flex-start;
    min-height: 0; }
    .fotos-grid .galeria-grid {
      max-width: 80%;
      grid-auto-rows: 100px;
      grid-gap: 10px;
      margin: 10px; }
      .fotos-grid .galeria-grid div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px; }
  .fixed img {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 40px; }
  .fixed2 img {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 95px;
    right: 40px; }
  .text-justify {
    text-align: center; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/4; }
    main .productos .segundo-banner {
      grid-column: 1/4; }
    main .productos .tercer-banner {
      grid-column: 1/4; }
    main .productos .cuarto-banner {
      grid-column: 1/4; }
    main .productos .productos-contenedor div img {
      width: 100px;
      height: 100px; }
  .container .row .col-md-3 {
    width: 50%;
    justify-content: center; } }

/*--------------------------------------------------------------------------------------------------600*/
@media screen and (max-width: 600px) {
  .boton-comprar {
    padding: 5px 25px 5px 25px; }
  /*--------------------------------------------------------------------------PROMOS*/
  .carousel-item img {
    height: 200px !important;
    /* Ajusta el valor según la altura deseada */ }
  /*--------------------------------------------------------------------------INDEX*/
  .header-index .hero .hero-titulo-boton h3 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center; }
  .header-index .hero .hero-titulo-boton a {
    margin-top: 20px;
    font-size: 40px;
    /* Tamaño de la fuente */
    padding: 15px 20px 15px 20px;
    height: auto; }
  .header-index .hero .hero-imagenes {
    width: 100%;
    margin: 0px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: 15px;
    row-gap: 5px; }
    .header-index .hero .hero-imagenes a {
      align-items: center;
      width: 70px;
      height: 80px;
      margin: 0px 0px; }
    .header-index .hero .hero-imagenes img {
      width: 70px;
      height: 80px;
      margin: 0px 0px; }
  main .nosotros h1 {
    font-size: 30px;
    padding: 20px 0px;
    margin: 0px; }
  main .nosotros p {
    font-size: 16px;
    padding: 10px 10px;
    margin: 0px 0px; }
  main .categorias .categorias-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px; }
  .bienvenidos div p {
    font-size: 16px;
    padding: 30px; }
  .bienvenidos div img {
    width: 300px;
    height: 300px; }
  .bienvenidos .bienvenidos-segundo-contenedor p {
    font-size: 16px;
    padding: 20px; }
  .bienvenidos .bienvenidos-segundo-contenedor img {
    width: 300px;
    height: 300px; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/3; }
    main .productos .segundo-banner {
      grid-column: 1/3; }
    main .productos .tercer-banner {
      grid-column: 1/3; }
    main .productos .cuarto-banner {
      grid-column: 1/3; }
  /*---------------------------------------------------PREGUNTAS FRECUENTES*/
  .accordion {
    padding: 0 0px; }
  .testimonials .testimonial-inner .border {
    width: 250px; }
  /*-------------------------------------------------------PAGINA FORMULARIO*/
  .pagina-contacto .contacto-form {
    width: 90%;
    margin-bottom: 15px; }
  .botones-consulta input {
    width: 100px;
    font-size: 14px; }
  .formulario-mapa div iframe {
    width: 300px;
    height: 300px; } }
