@charset "UTF-8";
/*--PROPIEDADES GENERALES A TODO EL DOCUMENTO TIPOGRAFIA, MARGENES, BOOTSTRAP, CLASES QUE REUTILICES, TODO LO QUE NO SEA NECESARIO ANIDAR--*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu:opsz,wght@12..72,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*fondo main*/
.background-main {
  background-image: url(../img/maderacuadraditos.jpg); }

/*variables*/
/*listas*/
/*mapas*/
.bienvenidos, main .productos .productos-contenedor div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*mixin*/
/**--------NAV BOOTS*/
.barra-nav a {
  text-decoration: none !important;
  color: white !important;
  font-size: 1.4rem;
  font-family: truculenta !important;
  text-shadow: 8px 4px 8px black;
  margin: 0 20px; }

/*-FONDO NEGRO NAV-*/
.barra-nav {
  background-color: rgba(0, 0, 0, 0.592) !important; }

.sin-sombra {
  background-color: rgba(0, 0, 0, 0.778) !important; }
  .sin-sombra a {
    text-shadow: none; }

.dropdown-menu li a {
  color: white !important; }

.categorias-contenedor {
  border: 1px black solid;
  width: 320px;
  height: 500px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column; }

.categorias p {
  height: 90px;
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: poppins;
  font-size: 13px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; }

.categorias a {
  height: 350px;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin: 15px;
  text-shadow: 4px 4px 8px black;
  text-align: center; }

.imagenes-redes {
  width: 50px;
  height: 50px;
  margin-left: 20px; }

.productos-nav-bar {
  background-image: url(../img/fondo.jpg); }

.boton-comprar {
  background-color: #690507fc;
  border: 2px solid black;
  color: white !important;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px 40px 5px 40px;
  margin-bottom: 5px; }

footer {
  background-image: url(../img/fondo.jpg);
  height: auto; }
  footer section {
    max-width: 100%;
    /*define el tamaño de la grilla*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; }
    footer section .imagen-footer {
      margin: 0 auto; }
      footer section .imagen-footer .logo-footer {
        margin-top: 30px;
        width: 200px;
        height: 150px; }
    footer section .footer-h6 h6 {
      color: white;
      text-align: center;
      font-size: 22px;
      font-family: truculenta;
      font-weight: 400;
      margin-top: 60px;
      margin-left: 40px;
      width: 250px; }
    footer section .footer-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      footer section .footer-nav ul {
        list-style: none;
        text-align: center; }
        footer section .footer-nav ul li {
          margin-top: 20px; }
          footer section .footer-nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-family: truculenta; }
    footer section .footer-datos {
      color: white;
      font-size: 19px;
      font-family: truculenta;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: left; }
      footer section .footer-datos div h5 {
        margin: 30px 0px;
        text-align: center; }
      footer section .footer-datos div p {
        margin: 15px 0px; }
      footer section .footer-datos div a img {
        width: 50px;
        height: 50px;
        margin-left: 20px; }

.header-index {
  padding-top: 160px;
  background-image: url(../img/prueba124fondo.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center; }
  .header-index .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 104px); }
    .header-index .hero .hero-titulo-boton {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 90px; }
      .header-index .hero .hero-titulo-boton h3 {
        font-size: 30px;
        color: white;
        font-family: truculenta;
        font-weight: bold;
        text-shadow: 8px 8px 16px black;
        margin-bottom: 30px; }
      .header-index .hero .hero-titulo-boton a {
        background-color: #ffffff8b;
        /* Color de fondo */
        /*border: 4px solid #e79406aa; /* Borde*/
        color: green;
        /* Color del texto */
        text-shadow: 1px 1px 2px black;
        text-align: center;
        /* Alineación del texto */
        text-decoration: none;
        /* Sin   subrayado */
        font-size: 60px;
        /* Tamaño de la fuente */
        border-radius: 10px;
        /* Bordes redondeados */
        padding: 5px 40px 5px 40px;
        height: 100px;
        font-family: truculenta;
        font-style: inherit;
        font-weight: bold; }
    .header-index .hero .hero-imagenes img {
      width: 150px;
      height: 150px;
      margin-bottom: 90px; }

main .nosotros h1 {
  font-size: 80px;
  color: white;
  font-family: truculenta;
  text-shadow: 8px 8px 16px black;
  padding: 20px 80px;
  text-align: center;
  height: auto; }

main .nosotros p {
  font-size: 30px;
  color: white;
  background-color: rgba(14, 80, 14, 0.447);
  padding: 50px 200px;
  text-align: center;
  font-family: truculenta;
  text-shadow: 8px 8px 16px black; }

main .categorias {
  margin-top: 30px; }
  main .categorias div {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    row-gap: 50px;
    grid-auto-rows: auto;
    align-content: center;
    /* Espacio entre las celdas */ }
    main .categorias div .imagen-primer-contenedor {
      background-image: url(../img/productos/branca1.jpg);
      background-position: center; }
      main .categorias div .imagen-primer-contenedor:hover {
        scale: 1.1;
        transition-duration: 1s; }
    main .categorias div .imagen-segundo-contenedor {
      background-image: url(../img/productos/tanqueray1.jpg);
      background-position: center; }
      main .categorias div .imagen-segundo-contenedor:hover {
        scale: 1.1;
        transition-duration: 1s; }
    main .categorias div .imagen-tercer-contenedor {
      background-image: url(../img/productos/jagermaister1.jpg);
      background-position: center; }
      main .categorias div .imagen-tercer-contenedor:hover {
        scale: 1.1;
        transition-duration: 1s; }
    main .categorias div .imagen-cuarto-contenedor {
      background-image: url(../img/productos/bluelabel1.jpg);
      background-size: cover; }
      main .categorias div .imagen-cuarto-contenedor:hover {
        scale: 1.1;
        transition-duration: 1s; }

.bienvenidos {
  margin-top: 20px;
  padding: 20px; }
  .bienvenidos div {
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .bienvenidos div p {
      font-family: truculenta;
      font-size: 22px;
      color: white;
      font-weight: 500;
      padding: 90px;
      background-color: rgba(0, 0, 0, 0.652);
      border-radius: 2px, solid, white; }
    .bienvenidos div img {
      width: 500px;
      height: 400px; }
  .bienvenidos .bienvenidos-segundo-contenedor {
    display: flex;
    flex-direction: row-reverse; }
    .bienvenidos .bienvenidos-segundo-contenedor p {
      font-family: truculenta;
      font-size: 22px;
      color: white;
      font-weight: 500;
      padding: 70px;
      background-color: rgba(0, 0, 0, 0.652);
      border-radius: 2px, solid, white; }
    .bienvenidos .bienvenidos-segundo-contenedor img {
      width: 500px;
      height: 400px; }

.hashtag {
  display: flex;
  justify-content: center;
  align-items: center; }
  .hashtag img {
    width: 500px;
    height: 200px; }

.fotos-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }
  .fotos-grid .galeria-grid {
    max-width: 70%;
    /*define el tamaño de la grilla*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 10px;
    /* Espacio entre las celdas */
    margin: 50px; }
    .fotos-grid .galeria-grid div img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px; }
  .fotos-grid .galeria-grid .img-a {
    grid-column: 1/3; }
  .fotos-grid .galeria-grid .img-b {
    grid-column: 3/5; }
  .fotos-grid .galeria-grid .img-d {
    grid-column: 2/4;
    grid-row: 2/4; }
  .fotos-grid .galeria-grid .img-f {
    grid-row: 3/5; }
  .fotos-grid .galeria-grid .img-g {
    grid-row: 3/5; }

.fixed img {
  /* Imagen de WHatsapp FLotante*/
  width: 60px;
  height: 60px;
  position: fixed;
  /*Fija la posicion en la pagina*/
  bottom: 30px;
  right: 30px; }

main .productos {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  /* Espacio entre las celdas */
  grid-gap: 30px;
  /* Espacio entre las celdas */
  margin: auto;
  padding-bottom: 30px; }
  main .productos .primer-banner {
    grid-column: 1/6; }
  main .productos .segundo-banner {
    grid-column: 1/6; }
  main .productos .tercer-banner {
    grid-column: 1/6; }
  main .productos .cuarto-banner {
    grid-column: 1/6; }
  main .productos h2 {
    color: white;
    font-family: truculenta;
    font-size: 70px;
    text-align: center;
    text-shadow: 2px 2px 4px black; }
  main .productos .productos-contenedor {
    height: auto;
    width: auto;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px; }
    main .productos .productos-contenedor:hover {
      scale: 1.2;
      transition-duration: 1s; }
    main .productos .productos-contenedor div img {
      width: 150px;
      height: 150px; }
    main .productos .productos-contenedor div h3 {
      width: 90%;
      height: 50px;
      color: black;
      font-family: poppins;
      font-weight: 600;
      text-align: center;
      font-size: 15px; }
    main .productos .productos-contenedor div p {
      text-align: center;
      font-size: 19px;
      font-weight: 600; }
    main .productos .productos-contenedor div .seleccionar-cantidad {
      display: flex; }
    main .productos .productos-contenedor div a {
      text-decoration: none;
      margin-top: 1rem; }

.titulo-promos h4 {
  color: white;
  font-family: truculenta;
  font-size: 60px !important; }

.carousel-item img {
  max-height: 480px;
  /* Ajusta el valor según la altura deseada */ }

.pagina-contacto {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  text-shadow: 2px 2px 4px black; }
  .pagina-contacto .contacto-form {
    width: 40%;
    margin-bottom: 15px; }
    .pagina-contacto .contacto-form .contacto h3 {
      margin: 15px 0px 15px 10px;
      font-size: 35px;
      text-align: center;
      font-family: truculenta;
      font-weight: 400;
      color: white; }
    .pagina-contacto .contacto-form .contacto div label {
      margin: 15px 0px 15px 10px;
      font-size: 1rem;
      font-family: poppins;
      font-weight: 400;
      color: white; }
    .pagina-contacto .contacto-form .contacto div input {
      width: 90%;
      padding-left: 10px;
      height: 30px;
      margin: 5px 0px 5px 5px;
      font-size: 15px; }
    .pagina-contacto .contacto-form .contacto div textarea {
      width: 90%;
      padding-left: 10px;
      margin: 5px 0px 5px 5px;
      font-size: 15px; }
  .pagina-contacto .formulario-genero {
    font-size: 1rem;
    font-family: poppins;
    font-weight: 400;
    color: white;
    text-shadow: 2px 2px 4px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column; }
    .pagina-contacto .formulario-genero div {
      margin: 10px;
      margin-left: 16px; }

.formulario-ciudad {
  font-size: 1rem;
  font-family: poppins;
  font-weight: 400;
  color: #232425; }

.botones-consulta input {
  text-decoration: none;
  width: 138px;
  height: 40px;
  color: white;
  background-color: #0e500e;
  font-size: 19px;
  margin: 10px;
  /* Color de fondo */
  border: 2px solid black;
  text-align: center;
  border-radius: 10px;
  /* Bordes redondeados */
  padding: auto; }

.formulario-mapa div h3 {
  margin: 15px 0px 15px 10px;
  font-size: 35px;
  text-align: center;
  font-family: truculenta;
  font-weight: 400;
  color: white; }

main {
  background-image: none; }
  main .frecuentes {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    main .frecuentes .frecuentes-desplega {
      margin-left: 30px;
      width: 90%; }
    main .frecuentes .frecuentes2 {
      background-color: #2324255f; }
      main .frecuentes .frecuentes2 h3 {
        font-size: 25px;
        margin: 30px 30px; }
      main .frecuentes .frecuentes2 p {
        padding: 20px;
        font-size: 16px;
        text-align: center; }
      main .frecuentes .frecuentes2 img {
        margin-left: 30px;
        margin-top: 20px;
        width: 90%; }

@media screen and (max-width: 1245px) {
  .header-index {
    padding-top: 100px; }
    .header-index .hero {
      justify-content: space-around; }
      .header-index .hero .hero-titulo-boton {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 10px; }
      .header-index .hero .hero-imagenes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 80px;
        row-gap: 5px; }
        .header-index .hero .hero-imagenes img {
          width: 120px;
          height: 120px;
          margin-bottom: 0px; }
  main .nosotros h1 {
    font-size: 50px;
    margin: 0px 70px;
    text-align: center; }
  main .nosotros p {
    font-size: 20px;
    padding: 30px 100px;
    margin: 0px 0px; }
  main .categorias .categorias-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
  .bienvenidos div p {
    font-size: 16px;
    padding: 30px; }
  .bienvenidos div img {
    width: 400px;
    height: 300px; }
  .bienvenidos .bienvenidos-segundo-contenedor {
    flex-direction: row-reverse; }
    .bienvenidos .bienvenidos-segundo-contenedor p {
      font-size: 16px;
      padding: 20px; }
    .bienvenidos .bienvenidos-segundo-contenedor img {
      width: 400px;
      height: 300px; }
  footer section {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; }
    footer section .footer-h6 {
      margin: auto; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/5; }
    main .productos .segundo-banner {
      grid-column: 1/5; }
    main .productos .tercer-banner {
      grid-column: 1/5; }
    main .productos .cuarto-banner {
      grid-column: 1/5; }
  /*------------------------------------------------PAGINA FORMULARIO*/
  .pagina-contacto .contacto-form {
    width: 80%;
    margin-bottom: 15px; } }

@media screen and (max-width: 750px) {
  .header-index .hero .hero-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 30px;
    row-gap: 5px; }
    .header-index .hero .hero-imagenes img {
      width: 100px;
      height: 100px;
      margin-bottom: 0px; }
  .header-index .hero .hero-titulo-boton a {
    font-size: 60px;
    /* Tamaño de la fuente */
    border-radius: 10px;
    /* Bordes redondeados */
    padding: 10px 50px 10px 50px;
    height: 100px;
    font-family: truculenta;
    font-style: inherit;
    font-weight: bold; }
  .bienvenidos div {
    height: auto;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .bienvenidos .bienvenidos-segundo-contenedor {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; }
  .hashtag {
    display: flex;
    justify-content: center;
    align-items: center; }
    .hashtag img {
      width: 300px;
      height: 150px; }
  .fotos-grid {
    align-items: flex-start;
    min-height: 0; }
    .fotos-grid .galeria-grid {
      max-width: 80%;
      grid-auto-rows: 100px;
      grid-gap: 10px;
      margin: 10px; }
      .fotos-grid .galeria-grid div img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 10px; }
  footer section .imagen-footer .logo-footer {
    margin-top: 10px;
    width: 150px;
    height: 100px; }
  footer section .footer-h6 h6 {
    font-size: 16px;
    font-weight: 400;
    margin: 0px 0px;
    width: auto; }
  footer section .footer-datos {
    font-size: 16px;
    text-align: center; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/4; }
    main .productos .segundo-banner {
      grid-column: 1/4; }
    main .productos .tercer-banner {
      grid-column: 1/4; }
    main .productos .cuarto-banner {
      grid-column: 1/4; }
    main .productos .productos-contenedor div img {
      width: 100px;
      height: 100px; } }

/*--------------------------------------------------------------------------------------------------600*/
@media screen and (max-width: 600px) {
  .fixed img {
    /* Imagen de WHatsapp FLotante*/
    width: 40px;
    height: 40px;
    position: fixed;
    /*Fija la posicion en la pagina*/
    bottom: 30px;
    right: 30px; }
  .boton-comprar {
    padding: 5px 25px 5px 25px; }
  /*--------------------------------------------------------------------------PROMOS*/
  .carousel-item img {
    height: 200px !important;
    /* Ajusta el valor según la altura deseada */ }
  /*--------------------------------------------------------------------------INDEX*/
  .header-index .hero .hero-titulo-boton h3 {
    font-size: 25px;
    margin-bottom: 40px;
    text-align: center; }
  .header-index .hero .hero-titulo-boton a {
    padding-top: 80px;
    font-size: 40px;
    /* Tamaño de la fuente */
    padding: 10px 20px 10px 20px;
    height: auto; }
  .header-index .hero .hero-imagenes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    row-gap: 5px; }
    .header-index .hero .hero-imagenes img {
      width: 70px;
      height: 80px;
      margin-bottom: 0px; }
  main .nosotros h1 {
    font-size: 30px;
    padding: 20px 0px;
    margin: 0px; }
  main .nosotros p {
    font-size: 16px;
    padding: 10px 10px;
    margin: 0px 0px; }
  main .categorias .categorias-item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
  .bienvenidos {
    padding: 0px; }
    .bienvenidos div p {
      font-size: 16px;
      padding: 30px; }
    .bienvenidos div img {
      width: 300px;
      height: 300px; }
    .bienvenidos .bienvenidos-segundo-contenedor p {
      font-size: 16px;
      padding: 20px; }
    .bienvenidos .bienvenidos-segundo-contenedor img {
      width: 300px;
      height: 300px; }
  footer section .imagen-footer .logo-footer {
    margin-top: 10px;
    width: 100px;
    height: 100px; }
  footer section .footer-h6 h6 {
    padding-top: 15px;
    font-size: 14px;
    width: 150px; }
  footer section .footer-datos {
    font-size: 14px;
    text-align: center; }
  footer section .footer-datos div h5 {
    margin: 20px 0px; }
  footer section .footer-datos div p {
    font-size: 12px;
    margin: 10px 0px; }
  footer section .footer-datos div a img {
    width: 40px;
    height: 40px;
    margin-left: 10px; }
  /**------------------------------------------------------PRODUCTOS*/
  main .productos {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    main .productos .primer-banner {
      grid-column: 1/3; }
    main .productos .segundo-banner {
      grid-column: 1/3; }
    main .productos .tercer-banner {
      grid-column: 1/3; }
    main .productos .cuarto-banner {
      grid-column: 1/3; }
  /*---------------------------------------------------PREGUNTAS FRECUENTES*/
  main {
    background-image: none; }
    main .frecuentes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      main .frecuentes .frecuentes-desplega {
        margin-left: 30px;
        width: 90%; }
        main .frecuentes .frecuentes-desplega h3 {
          font-size: 25px;
          margin: 30px 30px; }
      main .frecuentes .frecuentes2 {
        background-color: #2324255f; }
        main .frecuentes .frecuentes2 h3 {
          font-size: 25px;
          margin: 30px 30px; }
        main .frecuentes .frecuentes2 p {
          padding: 20px;
          font-size: 16px;
          text-align: center; }
        main .frecuentes .frecuentes2 img {
          margin-left: 30px;
          margin-top: 20px;
          width: 90%; }
  /*-------------------------------------------------------PAGINA FORMULARIO*/
  .pagina-contacto .contacto-form {
    width: 90%;
    margin-bottom: 15px; } }
