.pagina-contacto {
    @include flex ( flex, space-evenly, flex-start);
    flex-wrap: wrap;
    text-shadow: 2px 2px 4px $color-principal;
    .contacto-form {
        width: 40%;
        margin-bottom: 15px;
        .contacto {
            h3 {
                margin: 15px 0px 15px 10px;
                font-size: 35px;
                text-align: center;
                font-family: "truculenta";
                font-weight: 400;
                color: $color-secundario;
            }
            div {
                label {
                margin: 15px 0px 15px 10px;
                font-size: 1rem;
                font-family: poppins;
                font-weight: 400;
                color: $color-secundario;
                }
                input {
                width: 90%;
                padding-left: 10px;
                height: 30px;
                margin: 5px 0px 5px 5px;
                font-size: 15px;
                }
                textarea {
                    width: 90%;
                    padding-left: 10px;

                    margin: 5px 0px 5px 5px;
                    font-size: 15px;

                }
            }
        }
    }
        .formulario-genero {
            font-size: 1rem;
            font-family: poppins;
            font-weight: 400;
            color: $color-secundario;
            text-shadow: 2px 2px 4px $color-principal;
            @include flex ( flex, space-around, center);
            flex-direction: column;
            div {
                margin: 10px;
                margin-left: 16px;
                }
            }
        }
        .formulario-ciudad {
            font-size: 1rem;
            font-family: poppins;
            font-weight: 400;
            color: #232425;
        }
        .botones-consulta {
            input {
                text-decoration: none;
                width: 138px;
                height: 40px;
                color: rgb(255, 255, 255);
                background-color: rgb(14, 80, 14);
                font-size: 19px;
                margin: 10px;
                /* Color de fondo */
                border: 2px solid $color-principal;
                text-align: center;
                border-radius: 10px;
                /* Bordes redondeados */
                padding: auto;
            }            
        }
        .formulario-mapa {
            div{
                h3 {
                    margin: 15px 0px 15px 10px;
                    font-size: 35px;
                    text-align: center;
                    font-family: "truculenta";
                    font-weight: 400;
                    color: $color-secundario;                    
                }
            }
            }