main {
    background-image: none;
    .frecuentes {
        @include flex ( flex, space-between, center);
        .frecuentes-desplega {
            margin-left: 30px;
            width: 90%;
        }
        .frecuentes2 {
            background-color: #2324255f;
            h3 {
                font-size: 25px;
                margin: 30px 30px;
            }
            p {

                padding: 20px;
                font-size: 16px;
                text-align: center;
            }
            img {
                margin-left: 30px;
                margin-top: 20px;
                width: 90%;
            }
        }
}
}