/*--PROPIEDADES GENERALES A TODO EL DOCUMENTO TIPOGRAFIA, MARGENES, BOOTSTRAP, CLASES QUE REUTILICES, TODO LO QUE NO SEA NECESARIO ANIDAR--*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu:opsz,wght@12..72,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


$color-principal: black;
$color-secundario:white;
$color-terceario: #690507fc;

@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

/*fondo main*/
.background-main {
    background-image: url(../img/maderacuadraditos.jpg);
}
/**--------NAV BOOTS*/
.barra-nav a {
    text-decoration: none!important;
    color: $color-secundario!important;
    font-size: 1.4rem;
    font-family: truculenta!important;
    text-shadow: 8px 4px 8px $color-principal;
    margin: 0 20px;
}

/*-FONDO NEGRO NAV-*/
.barra-nav {
    background-color: rgba(0, 0, 0, 0.592)!important;
}
.sin-sombra a {
    text-shadow: none;
}
.dropdown-menu li a {
    color: $color-principal!important
}

.categorias-contenedor { 
    border: 1px $color-principal solid;
    width: 320px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    @include flex ( flex, space-between, center);
    flex-direction: column;
}

.categorias p {
    height: 90px;
    text-align: center;
    padding-top: 10px;
    color: $color-secundario;
    font-family: poppins;
    font-size: 13px;
    background-color: $color-principal;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.categorias a {
    height: 350px;
    text-decoration: none;
    color:$color-secundario;
    font-size: 30px;
    margin: 15px;
    text-shadow: 8px 8px 16px rgb(0, 0, 0);
    text-align: center;
}

.imagenes-redes {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.productos-nav-bar {
    background-image: url(../img/fondo.jpg);
}

.boton-comprar {
    background-color: $color-terceario;
    border: 2px solid $color-principal;
    color: $color-secundario!important;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    margin-bottom: 5px;
}

footer {
    background-image: url(../img/fondo.jpg);
height: auto;
section {
max-width: 100%;
/*define el tamaño de la grilla*/
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-auto-rows: auto;

    .imagen-footer {
    margin: 0 auto;
    .logo-footer{
        margin-top: 30px;
        width: 200px;
        height: 150px;
}
}
.footer-h6 {
    h6 {
        color: $color-secundario;
        text-align: center;
        font-size: 22px;
        font-family: truculenta;
        font-weight: 400;
        margin-top: 60px;
        margin-left: 40px;
        width: 250px;
    }
}
.footer-nav {
    @include flex ( flex, center, center);
    flex-direction: column;
    ul {
        list-style: none;
        text-align: center;
        li {
            margin-top: 20px;
            a {
                text-decoration: none;
                color: $color-secundario;
                font-size: 20px;
                font-family: truculenta;
            }
        }
    }
}
.footer-datos {
    color: $color-secundario;
    font-size: 19px;
    font-family: truculenta;
    @include flex ( flex, center, center);
    flex-direction: column;
    text-align: left;
    div {
        h5 {
            margin: 30px 0px;
            text-align: center;
        }
        p {
            margin: 15px 0px;
        }
    }
    div {
        a {
            img {
                width: 50px;
                height: 50px;
                margin-left: 20px;
            }
        }
    }
}
}
}