/*--PROPIEDADES GENERALES A TODO EL DOCUMENTO TIPOGRAFIA, MARGENES, BOOTSTRAP, CLASES QUE REUTILICES, TODO LO QUE NO SEA NECESARIO ANIDAR--*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&family=Edu:opsz,wght@12..72,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*fondo main*/
.background-main {
    background-image: url(../img/layered-peaks-haikei.svg);
    background-size: cover;
}

/*variables*/
$color-principal: black;
$color-secundario:white;
$color-terceario: rgb(14, 80, 14);
/*listas*/
$fuentes:
13px,
18px,
20px,
30px;
/*mapas*/
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*mixin*/
@mixin flex ($flex, $justify, $align){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}

/**--------NAV BOOTS*/
.barra-nav a {
    text-decoration: none!important;
    color: white!important;
    font-size: 1.4rem;
    font-family: truculenta!important;
    text-shadow: 8px 4px 8px $color-principal;
    margin: 0 20px;
}

/*-FONDO NEGRO NAV-*/
.barra-nav {
    background-color: rgba(0, 0, 0, 0.592)!important;
}
.sin-sombra {
    background-color: rgba(0, 0, 0, 0.778)!important;
    a {
    text-shadow: none;
}
}
.dropdown-menu li a {
    color: $color-secundario!important;
}

.categorias-contenedor { 
    border: 1px $color-principal solid;
    width: 320px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
    @include flex ( flex, space-between, center);
    flex-direction: column;
}

.categorias-imagenes {
    background-position: center;
    transition-duration: 1s;
        &:hover {
            scale: 1.1;
        }
}

.categorias p {
    height: 90px;
    text-align: center;
    padding-top: 10px;
    color: $color-secundario;
    font-family: poppins;
    font-size: 13px;
    background-color: $color-principal;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.categorias a {
    height: 350px;
    text-decoration: none;
    color:$color-secundario;
    font-size: nth($fuentes, 4);
    margin: 15px;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
    text-align: center;
}


.imagenes-redes {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.productos-nav-bar {
    background-image: url(../img/fondo.jpg);
}

.boton-comprar {
    background-color: $color-terceario;
    border: 2px solid $color-principal;
    color: $color-secundario!important;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    margin-bottom: 20px;
    transition: 2s;
}
    

/*-Imagenes flotantes-*/
.fixed { 
    a {
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: 1s;
        animation-name: pulse;
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(17, 255, 17, 0.566);
        border-radius: 50%;
        animation-name: pulse;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: both;
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(2, 201, 2, 0.496);
        border-radius: 50%;
        z-index: -1;
        opacity: .8;
        animation-name: pulse;
        animation-duration: 2s;
        animation-delay: 0.3s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: both;
}
}
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
    opacity: 0;
    scale: 2;
    }
}


    .site-footer {
        background-image: url(../img/fondo.jpg);
        font-size: 16px;
        padding-top: 16px;
        line-height: 24px;
        color: white;
        font-family: "truculenta";


        hr {
            border-top-color: #bbb;
            opacity: 0.5;
        }
    
        h6 {
            text-align: center;
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 2px;
        }

        ul {
            text-align: center;
        }
    
        a {
            color: white;
            font-family: "truculenta";
        }
    
        .footer-links {
            padding-left: 0;
            list-style: none;
            flex-wrap: 1;
    
            li {
                display: block;
            }
    
            a {
                color: white;
                text-decoration: none;
                transition: 1s;
    
                &:hover {
                    color: rgb(23, 127, 23);
                }
            }
        }
    
        .social-icons {
            text-align: right;
    
            li {
                display: inline-block;
                margin-bottom: 4px;
            }
    
            a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 18px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                transition: all 0.5s linear;
    
                &:hover {
                    color: white;
                }
            }
    
            &.size-sm a {
                line-height: 34px;
                height: 34px;
                width: 34px;
                font-size: 14px;
            }
    
            a.facebook:hover {
                background-color: #3b5998;
            }
    
            a.whatsapp:hover {
                background-color: green;
            }
    
            a.google:hover {
                background-color: red;
            }
    
            a.instagram:hover {
                background-color: #ea4c89;
            }
        }
    }